html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font: @sk-rem-base-size 'Roboto', Helvetica, Arial, sans-serif !important;
}

body,
button,
input,
select,
textarea,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    font-size: @sk-standard-font-size !important;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: @sk-black;
}
