html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font: @sk-rem-base-size 'Roboto', Helvetica, Arial, sans-serif;
}

body,
button,
input,
select,
textarea,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    font-size: @sk-standard-font-size;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: @sk-black;
    background:@sk-light-grey;
    margin:0;
}

* {
    box-sizing: border-box;
}

p, label {
    margin:0px;
    font-size: @sk-nav-and-title-font;

    @media only screen and (min-width: @medium-device-max-width) {
        font-size: @sk-standard-font-size;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
    color:@sk-link-text;
}
