h1 {
    font-size: @sk-page-heading-font;
    font-weight: @sk-font-light;
    margin: 0 0 @default-spacer * 4;
}

h2 {
    font-size: @sk-section-heading-font;
    font-weight: @sk-font-regular;
    margin: 0 0 @default-spacer * 4;

    @media only screen and (min-width: @medium-device-max-width) {
        font-size: @sk-nav-and-title-font;
    }
}
