@import (reference) "../../static/less/styles";

.creditCardPayment {

    @media only screen and (min-width: @small-device-max-width) {
        width: @default-spacer * 22;
    }

    .paymentHeader {
        margin-bottom: @default-spacer * 2;

        @media only screen and (min-width: @small-device-max-width) {
            margin-bottom: @default-spacer * 4;
        }
    }

    input {
        border: 1px solid @sk-light-mid-grey;
        padding: @default-spacer;
        font-size: @sk-standard-font-size;
        box-sizing: border-box;
        background: @sk-white;
    }

    label {
        font-weight: 500;
        margin-bottom: @default-spacer;
        display: block;
    }

    .cardPaymentError {
        display: block;
        color: @sk-pink;
        padding: 1px 0 3px 20px;

        @media only screen and (min-width: @medium-device-max-width) {
            width: @default-spacer * 27;
        }

        &:before {
            content: '';
            background:url('./images/errorIcon.svg');
            margin-left: -20px;
            margin-right: 4px;
            top: 2px;
            width: 16px;
            height: 16px;
            background-size: 16px;
            display: inline-block;
            position: relative;
        }
    }
}

/* accept cards text */

.acceptText {
    margin:0 0 5px;
    font-size: @sk-standard-font-size;
    color:@sk-dark-mid-grey;
}

/* card logos */

.issuer {
    width: 46px;
    height: (@default-spacer * 3);
    display: inline-block;
    margin-right: 5px;
    background: url('./images/creditCardIssuer.png') no-repeat;
}

.issuerContainer {
    margin-bottom: (@default-spacer * 5);
    width: @default-spacer * 18;
}

.issuerSurcharge {
    font-size: @sk-tiny-font-size;
    color: @sk-dark-mid-grey;
    position: relative;
    left: 104px;
    top: 0;
}

.issuerVisa {
    &:extend(.issuer);
    background-position: -53px 0;
}

.notIssuerVisa {
    &:extend(.issuerVisa);
    opacity: 0.2;
}

.issuerMasterCard {
    &:extend(.issuer);
    background-position: 0 0;
}

.notIssuerMasterCard {
    &:extend(.issuerMasterCard);
    opacity: 0.2;
}

.issuerAmex {
    &:extend(.issuer);
    background-position: -106px 0;
}

.notIssuerAmex {
    &:extend(.issuerAmex);
    opacity: 0.2;
}

/* card number */

.cardNumberContainer {
    margin-bottom: @default-spacer * 2;

    .cardNumberInput {
        width: 100%;

        @media only screen and (min-width: @small-device-max-width) {
            width: @default-spacer * 22;
        }
    }
}

/* expiry code */

.expiryContainer {
    width: 48%;
    display: inline-block;
    margin-bottom: @default-spacer * 2;
    vertical-align: top;

    @media only screen and (min-width: @small-device-max-width) {
        width: @default-spacer * 10;
    }

    .expiryInput {
        width: 100%;
    }
}

/* security code */

.securityCodeContainer {
    width: 48%;
    display: inline-block;
    margin-left: 4%;
    margin-bottom: @default-spacer * 2;
    vertical-align: top;

    @media only screen and (min-width: @small-device-max-width) {
        width: @default-spacer * 10;
        margin-left: @default-spacer * 2;
    }

    .securityCodeInput {
        width: 100%;
    }

    .securityCodeLabel {
        display:inline-block;
    }
}

.paymentError {
    margin-bottom : @default-spacer * 3;
}
