@import (reference) "../../static/less/base";

.paymentForm {
    width: @default-spacer * 35;
    border-left: 1px solid @sk-light-mid-grey;
    margin-left: @default-spacer * 8;
    padding:0 0 @default-spacer * 4 @default-spacer * 8;

    .formFieldContainer {
        display: flex;
        margin-bottom: @default-spacer * 3;

        label {
            font-weight: @sk-font-medium;
        }

        input {
            margin-left:auto;
            border:none;
            background:none;
            text-align: right;
            color:@sk-dark-mid-grey;
        }
    }

    .formTotalContainer {
        margin-top: @default-spacer * 4;

        .formFieldContainer {
            margin-bottom: @default-spacer;

            label {
                font-weight: @sk-font-regular;
            }

            &:last-child {
                label {
                    font-weight: @sk-font-medium;
                }
            }

        }
    }

}
